/* Start custom Section download */
#download {
  background: linear-gradient(
    90deg,
    rgba(45, 165, 255, 1) 45%,
    rgb(1, 223, 245) 100%
  );
  text-align: center;
  color: var(--color-white);
}
/* End custom Section download */

/* Start custom download content */
.download-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-content h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 1.5rem 0;
  position: relative;
  padding-bottom: 1rem;
}
.download-content h2::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  background-color: var(--color-white);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.dc-homicon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: 2px solid var(--color-white);
  border-radius: 5px;
  width: 12rem;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.dc-homicon:hover {
  background-color: var(--color-white);
  color: #01dff5;
}
/* End custom download content */

/* --------------------Start Responsive */

/* desktops >= 992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablette >= 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .download-content h2 {
    font-size: 2rem;
  }
  .download-content h2::after {
    width: 20%;
  }
  .download-content p {
    font-size: 13px;
  }
  .dc-homicon {
    width: 9rem;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
}

/* Phone 1 >= 576px  */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .download-content h2 {
    font-size: 1.8rem;
  }
  .download-content p {
    font-size: 12px;
  }
  .dc-homicon {
    width: 8rem;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
}

/* Phone 2 <= 575px */
@media only screen and (max-width: 575px) {
  .download-content h2 {
    font-size: 1.8rem;
  }
  .download-content p {
    font-size: 11px;
  }
  .dc-homicon {
    width: 8rem;
    padding: 0.8rem;
    font-size: 1.2rem;
  }
}

/* ---------------------End Responsive */
