/* Start custom footer section */
#footer {
  background-color: var(--primary-color);
  color: var(--color-white);
}
/* End custom footer section */

/* Start custom footer home content */
.footer-home > p {
  text-align: center;
  margin-top: 60px;
}
.footer-home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}
.footer-box h4 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-left: 0;
}
.footer-box ul li {
  margin-left: 14px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.footer-box ul li a {
  color: var(--color-white);
  text-decoration: none;
}
.footer-links li:hover,
.footer-links li a:hover {
  color: orangered;
}
.footer-contact li {
  list-style: none;
  margin-left: 0 !important;
}
.footer-contact li p {
  display: flex;
  align-content: center;
}
.footer-contact-icones {
  font-size: 16px;
}
/* End custom footer home content*/

/* desktops >= 992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-home-content {
    margin: 0 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-box ul li {
    font-size: 0.7rem;
  }
}
/* ---------------------End Responsive */
