/* Start custom Home header */
.header {
  position: relative;
  height: 88vh;
}

.header_header {
  display: flex;
  margin-bottom: 25px;
  height: 100%;
}
.header-home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
}
/* End custom Home header */

/* Start custom Home header left part */
.header-left {
  width: 60%;
  height: 100%;
}
.header-left h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-white);
  padding-bottom: 10px;
  width: 100%;
  position: relative;
}
.header-left h1 span {
  display: block;
}
.header-left h1 span:nth-child(1) {
  font-weight: bold;
}
.header-left h1 span:nth-child(2) {
  font-weight: 100;
  font-family: Jud-Thin;
}
.header-left h1::after {
  content: "";
  position: absolute;
  width: 74%;
  height: 1px;
  bottom: 0;
  background: var(--color-white);
}
.header-left p {
  margin: 1rem 0;
  color: var(--color-white);
  font-size: 13px;
  width: 75%;
  line-height: 1.7;
}
.h-btn {
  background: orangered;
  border: 2px solid transparent;
  color: #fff;
  font-weight: 800;
}
.h-btn:hover {
  color: white;
}
/* End custom Home header left part */

/* Start custom Home header right part */
.header-right {
  width: 35%;
}
.header-right img {
  width: 100%;
}
/* End custom Home header right part */

/* Start custom Home header mouse */
.header-floatingIcon {
  background-color: var(--secondary-color);
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  cursor: pointer;
}
.header-floatingIcon a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mouse {
  transform: translateY(-25%);
  font-size: 30px;
  color: var(--color-white);
  animation: bounce 0.8s ease infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}
/* End custom Home header mouse */

/* --------------------Start Responsive */

/* desktops >= 992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_header {
    /* display: flex;
    margin-bottom: 25px; */
    margin: 0 30px 0 50px;
  }
  .header-left p {
    line-height: 1.9;
    margin-bottom: 30px;
  }
}

/* Tablette >= 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 60vh;
  }
  .header-left h1 {
    font-size: 30px;
    line-height: 2;
    padding-bottom: 40px;
  }
  .header-left h1::after {
    width: 85%;
  }
  .header-left p {
    width: 90%;
    line-height: 2;
    /* margin-bottom: 40px; */
  }
}

/* Phone 1 >= 576px  */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-home {
    flex-direction: column;
  }
  .header-left,
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .header-left {
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 90%;
  }

  .header-left h1 {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .header-left h1::after {
    transform: translateX(-50%);
  }
  .header-left p {
    width: 90%;
  }
  .header-right {
    width: 60%;
  }
}

/* Phone 2 <= 575px */
@media only screen and (max-width: 575px) {
  .header-home {
    flex-direction: column;
  }
  .header-left,
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .header-left {
    margin-top: 8rem;
    margin-bottom: 2rem;
    width: 90%;
  }

  .header-left h1 {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  .header-left h1::after {
    transform: translateX(-50%);
  }
  .header-left p {
    width: 90%;
  }
  .header-right {
    width: 60%;
  }
}

/* ---------------------End Responsive */
