/* Start custom Nav bar */
.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End custom Nav bar */

/* Start custom Nav bar logo */
.nb-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nb-logo > :nth-child(1) {
  color: white;
  width: 50px;
  height: 50px;
}
.nb-logo-text {
  font-size: 35px;
  font-weight: 300;
  color: white;
}
.nb-logo-text span {
  color: orangered;
  font-weight: 600;
}
/* End custom Nav bar logo */

/* Start custom Nav bar links */
.nb-links {
  display: flex;
  list-style: none;
  color: var(--color-white);
  gap: 20px;
}
.nb-links > li > a,
.nb-btn {
  color: var(--color-white);
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  transition: all 0.3s;
}
.nb-links > li > a:hover {
  color: orangered;
}
/* End custom Nav bar links */

/* Start custom Nav bar button */
.nb-btn {
  background: transparent;
  border: 2px solid var(--color-white);
}
/* End custom Nav bar button */

.menu-icones {
  display: none;
}

/* --------------------Start Responsive */

/* desktops >= 992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .nb-logo {
    margin-left: 65px;
  }

  .nb-links {
    margin-right: 60px;
  }
}

/* Tablette >= 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nb-logo-text {
    font-size: 30px;
  }
  .btn_enSavoirPlus {
    display: none;
  }

  .nb-logo {
    margin-left: 30px;
  }

  .nb-links {
    margin-right: 50px;
  }
}

/* Phone 1 >= 576px  */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .menu-icones {
    display: block;
    margin-right: 60px;
    font-size: 2rem;
  }
  .nb-links {
    display: none;
    border: 2px solid #fff;
    z-index: 111;
  }

  #showResponsiveMenu,
  #hideResponsiveMenu {
    display: block;
    position: absolute;
    list-style: none;
    background-color: #0a1930;
    left: 0;
    top: 80px;
    width: 100%;
    border-top: 1px solid #fff;
    padding-bottom: 5px;
    transition: all 0.3s;
  }

  #showResponsiveMenu {
    animation: slide-in 0.5s ease-in-out;
  }
  #hideResponsiveMenu {
    left: -100%;
    animation: slide-out 0.5s ease-in-out;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #showResponsiveMenu li,
  #hideResponsiveMenu li {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    margin: 0 30px;
  }

  #showResponsiveMenu li:last-child,
  #hideResponsiveMenu li:last-child {
    border-bottom: none;
  }

  #showResponsiveMenu li a {
    font-size: 18px;
  }

  .nb-logo {
    margin-left: 28px;
  }
}

/* Phone 2 <= 575px */
@media only screen and (max-width: 575px) {
  .menu-icones {
    display: block;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 2rem;
  }
  .nb-links {
    display: none;
    border: 2px solid #fff;
    z-index: 111;
  }

  #showResponsiveMenu,
  #hideResponsiveMenu {
    display: block;
    position: absolute;
    list-style: none;
    background-color: #0a1930;
    left: 0;
    top: 80px;
    width: 100%;
    border-top: 1px solid #fff;
    padding-bottom: 5px;
    transition: all 0.3s;
  }

  #showResponsiveMenu {
    animation: slide-in 0.5s ease-in-out;
  }
  #hideResponsiveMenu {
    left: -100%;
    animation: slide-out 0.5s ease-in-out;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #showResponsiveMenu li,
  #hideResponsiveMenu li {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    margin: 0 30px;
  }

  #showResponsiveMenu li:last-child,
  #hideResponsiveMenu li:last-child {
    border-bottom: none;
  }

  #showResponsiveMenu li a {
    font-size: 18px;
  }

  .nb-logo {
    margin-left: 15px;
  }
}
/* ---------------------End Responsive */
