/* Start custom Subscribe section */
#subscribe {
  background: url(../Images/subscribe-bg.png);
  background-attachment: fixed;
  text-align: center;
  color: var(--color-white);
  background-size: cover;
}
/* End custom Subscribe section */

/* Start custom Subscribe home title part*/
.subscribe-home {
  width: 100%;
  margin: 0 auto;
}
.subscribe-home h2 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
}
/* End custom Subscribe home title part*/

/* Start custom Subscribe home form part*/
form > * {
  width: 100%;
  max-width: 50rem;
  margin: 1.5rem auto;
}
form .form-control input {
  padding: 1rem;
  background: transparent;
  border: 1px solid #777;
  border-radius: 5px 0 0 5px;
  color: var(--color-white);
  outline: none;
  width: 80%;
  font-size: 1.6rem;
}
form .form-control button {
  padding: 1rem;
  background-color: var(--thrid-color);
  border: 1px solid var(--thrid-color);
  border-radius: 0 5px 5px 0;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
/* End custom Subscribe home form part*/

/* Start custom Subscribe home icones part */
.sh-icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.sh-icone {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.sh-icone:hover {
  background-color: var(--secondary-color);
}
/* End custom Subscribe home icones part */

/* --------------------Start Responsive */

/* desktops >= 992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablette >= 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .subscribe-home h2 {
    font-size: 2rem;
  }

  form .form-control input {
    width: 55%;
    font-size: 1rem;
    padding: 0.7rem;
  }

  form .form-control button {
    font-size: 1rem;
    padding: 0.7rem;
  }
  .sh-icone {
    width: 3rem;
    height: 3rem;
    font-size: 2.3rem;
  }
}

/* Phone 1 >= 576px  */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .subscribe-home h2 {
    font-size: 1.7rem;
  }
  form .form-control input {
    width: 50%;
    font-size: 1rem;
    padding: 0.7rem;
  }
  form .form-control button {
    font-size: 1rem;
    padding: 0.7rem;
  }
  .sh-icone {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }
}

/* Phone 2 <= 575px */
@media only screen and (max-width: 575px) {
  .subscribe-home h2 {
    font-size: 1.7rem;
  }
  form .form-control input {
    width: 50%;
    font-size: 1rem;
    padding: 0.7rem;
  }
  form .form-control button {
    font-size: 1rem;
    padding: 0.7rem;
  }
  .sh-icone {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }
}
/* ---------------------End Responsive */
